*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;

    display: flex;
    height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.outer-box{

    color:white;
    display: flex;
    flex-direction: column; 
}

p{
    text-align: center;
    font-size: 32px;
}
h1{

    font-size: 65px;
    color: white;
    text-align: center;
}
h3{
    color:white;
    margin-top: -60px;
}
/* ----------------------------------------------------------- */
#main-container{

  display: flex;
  justify-content: center;
  align-items: center;
  gap:100px;
  width: 100%;

}
.Box{
    background: white;
    border-radius: 15px;
    width:350px;
    height:200px;
}
.player-box, .computer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
i, .fa-arena{
    font-size: 85px;
}

.btnPlayer,.btnComputer {
    background: none;
    border: none;
}

.result-msg{
    position: absolute;
    color:red;
    font-size: 125px;
    
 
}

/* -------Animations------- */

.fi-iden{
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.fi-iden.fade {
    opacity:0;
  
}


/* Arena icons */



.fi-arena{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.fi-arena.fadein{
    opacity:1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


/* ----------------------------------------------------------- */


.arena-container{
    color:grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#arena{
    border:1px solid white;
   margin-top: 45px;
    display:flex;
    border-radius: 35px;
    width: 300px;
    height:150px;
    color:white;
}
#playerSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:150px;
    border: 1px solid grey;
    border-radius: 35px 0 0 35px ;
}
#computerSide{
    width:150px;
    height:150px;
    border: 1px solid grey;
    border-radius: 0px 35px 35px 0px ;
}

/* --------------------------------------- */
#commentary{
  
    width:900px;
    height: 40px;
}

#bottom-container{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
    height:250px;

}

.results-box{
    margin-top: -150px;
    background: white;
    border-radius: 15px;
    width: 250px;
    display: flex;
    height:100px;
    justify-content: space-between;
    align-items: center;
    font-size: 70px;
    padding:0px 30px;
}


.playAgainActive{

    font-size: 28px;
    border:none;
    color: black;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 
    0px 2px 4px rgba(0, 0, 0, 0.5), 
    0px 4px 8px rgba(0, 0, 0, 0.5), 
    0px 8px 16px rgba(0, 0, 0, 0.5);
    
} 

.playAgainActive:active{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 
    0px 1px 1px rgba(0, 0, 0, 0.5), 
    0px 2px 2px rgba(0, 0, 0, 0.5), 
    0px 3px 2px rgba(0, 0, 0, 0.5);
}

.commentary-text{
    color:white;
}